body{
	background:#666;
	color:#fff;
	font-family:arial;

}

a{
	color:#fff;
	text-decoration: none;
}

ul{
	padding:0;
}

#container{
	background: #333;
	width:900px;
	margin:30px auto;
	overflow: hidden;
	padding: 10px;

}